<!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
           <div class="about">
             <h1>About Us</h1>
             <h3>The Creators - Eric Kim, Yale Fang, Kyle Lee</h3>
             <p>We are students attending Bergen County Academies in the Academy for Technology and Computer Science (ATCS) as students interested in cryptocurrency as a part of our final end-of-year Capstone project.</p>
             <h3>Our Goal</h3>
             <p>This is a site designed to be your one stop shop for cryptocurrency pairs trading needs! Backtest, analyze, and graph each type of cyptocurrency here!</p>
             <h3>Tutorial</h3>
             <p>To use the application, select a cryptocurrency in each of the dropdown menus to compare. Select the program you wish to perform, as well as the dates you would like to see the data in. Submit, and view the results!</p>
             </p>
           </div>

           <div class="faq">
            <h1>FAQ</h1>
            <h3>What is pairs trading?</h3>
            <p>Pairs trading is an investment strategy used in all things stocks and cryptocurrency. It involves matching a long position (meaning that there is an expectation for the price to rise) with a short position (meaning that there is an expectation that the price is decreasing or will decrease) in two stocks with a high correlation. This allows traders to profit from any market condition: uptrend, downtrend, or sideways movement.</p>
            <h3>Why trade pairs?</h3>
            <p>Because of its market neutrality, this trading strategy can be safe and immune to any global market crisis, even if the entire market or sector falls down. </p>
            <h3>Where do you get your data?</h3>
            <p>Our data comes from yahoo finance.
            </p>
          </div>
        {% endblock %}
    </body>
</html>