<!DOCTYPE html>
<html lang="en">
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Results</title>
    {% endif %}
    <!--Chart.js JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
    {% extends "layout.html" %}
    {% block content %}

    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>Results</h1>
    {% endif %}

    <div class="row">
        <div class="box">
        <h2>Pair Analysis</h2>
        <p>Correlation: {{ correlation }}</p>
        <p>Cointegration: {{ cointegration }}</p>
        <!--<p>Long CAGR: {{ cagr1 }}</p>
        <p>Short CAGR: {{ cagr2 }}</p>-->
        </div>
        <canvas id="myChart3" ></canvas>

        <script>
        var ctx = document.getElementById('myChart3').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels|tojson }},
                datasets: [{
                    data: {{ values1|tojson }},
                    label: {{ crypto_one|tojson }},
                    yAxisId: 'A',
                    borderColor: "#3e95cd",
                    fill: false,
                }, {
                    label: {{ crypto_two|tojson }},
                    yAxisID: 'B',
                    data: {{ values2|tojson }},
                    borderColor: "#e8c3b9",
                    fill: false,
                }]
            },
            options: {
                legend: { display: true },
                title: {
                display: true,
                text: 'Price History of {{ crypto_one|tojson }} and {{ crypto_two|tojson }}'
                },
                scales: {
                    A: {
                        type: 'linear',
                        position: 'left',
                    },
                    B: {
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 1,
                            min: 0
                        },
                        grid: {
                          drawOnChartArea: false, // only want the grid lines for one axis to show up
                        }
                    }
                }
            }
        });
        </script>

    </div>


    {% endblock %}

    </body>
</html>