<!DOCTYPE html>
<html lang="en">
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Results</title>
    {% endif %}
    <!--Chart.js JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
    {% extends "layout.html" %}
    {% block content %}

    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>Results</h1>
    {% endif %}

    <form action="/" method="POST">
        {{ form.csrf_token }}

        <div class="navigation-container">

            <div class="custom-grid">
                <!--<select id="crypto_one" name="crypto_one" required>
                    <option value="" disabled selected>Select currency 1</option>
                    <option value="Bitcoin">Bitcoin</option>
                    <option value="Ethereum">Ethereum</option>
                    <option value="Litecoin">Litecoin</option>
                    <option value="Bitcoin Cash">Bitcoin Cash</option>
                    <option value="Ripple">Ripple</option>
                </select>

                <select id="crypto_two" name="crypto_two" required>
                    <option value="" disabled selected>Select currency 2</option>
                    <option value="Bitcoin">Bitcoin</option>
                    <option value="Ethereum">Ethereum</option>
                    <option value="Litecoin">Litecoin</option>
                    <option value="Bitcoin Cash">Bitcoin Cash</option>
                    <option value="Ripple">Ripple</option>
                </select>

                <select id="function" name="function" required>
                    <option value="" disabled selected>Select function</option>
                    <option value="Analyze">Analyze</option>
                    <option value="Backtest">Backtest</option>
                    <option value="Graph">Graph</option>
                </select>-->
                <p>
                    {{ form.coin1 }}
                </p>

                <p>
                    {{ form.coin2 }}
                </p>

                <p>
                    {{ form.function }}
                </p>
            </div>

            <div class="custom-grid-2">
                <!--
                <label for="start_date">Start Period:</label>
                <input type="date" id="start_date" name="start_date"
                   value="2020-06-06"
                   min="2018-01-01" max="{{now}}">

                <label for="end_date">End Period:</label>
                <input type="date" id="end_date" name="end_date"
                    value="{{now}}"
                    min="2018-01-02" max="{{now}}">
                -->
                <p>
                    {{ form.date1.label }}
                    {{ form.date1 }}
                </p>

                <p>
                    {{ form.date2.label }}
                    {{ form.date2 }}
                </p>

                <button>Submit</button>

            </div>
        </div>
    </form>

    <div class="grid">
        <div class="longbox">
            <h2>Pair Analysis</h2>
            <p>Correlation: {{ correlation }}</p>
            <p>Cointegration: {{ cointegration }}</p>
            <!--<p>Long CAGR: {{ cagr1 }}</p>
            <p>Short CAGR: {{ cagr2 }}</p>-->
        </div>

        <div class="row">
            <h3 style="text-align: center">All Pairs</h3>
            <!--
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
            -->

            <table id="data" class="a_table">
                <thead>
                    <tr>
                        <th>Coin1</th>
                        <th>Coin2</th>
                        <th onclick="sortTable();">Correlation</th>
                        <th onclick="sortTable();">Cointegration P-Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in df_rows.iterrows() %}
                        <tr onclick="window.location='{{ url_for('backtest', crypto_one=row['Coin1'], crypto_two=row['Coin2'], start_date=start_date, end_date=end_date) }}';">
                            <td>{{ row['Coin1'] }}</td>
                            <td>{{ row['Coin2'] }}</td>
                            <td>{{ row['Correlation'] }}</td>
                            <td>{{ row['Cointegration P-Value'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                function sortTable() {
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("data");
                    switching = true;

                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;
                            x = rows[i].getElementsByTagName("TD")[0];
                            y = rows[i + 1].getElementsByTagName("TD")[0];
                            console.log(x);
                            console.log(y);
                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                }
            </script>
        </div>
    </div>

    <div class="a_chart">
        <canvas id="myChart3" ></canvas>

        <script>
        var ctx = document.getElementById('myChart3').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels|tojson }},
                datasets: [{
                    data: {{ values1|tojson }},
                    label: {{ crypto_one|tojson }},
                    yAxisId: 'A',
                    borderColor: "#3e95cd",
                    fill: false,
                }, {
                    label: {{ crypto_two|tojson }},
                    yAxisID: 'B',
                    data: {{ values2|tojson }},
                    borderColor: "#e8c3b9",
                    fill: false,
                }]
            },
            options: {
                legend: { display: true },
                title: {
                display: true,
                text: 'Price History of {{ crypto_one|tojson }} and {{ crypto_two|tojson }}'
                },
                interaction: {
                  mode: 'index',
                  intersect: false
                },
                scales: {
                    A: {
                        type: 'linear',
                        position: 'left',
                        title: {
                            display: true,
                            text: 'Price History of {{ crypto_one|tojson }} ($)'
                        }
                    },
                    B: {
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 1,
                            min: 0
                        },
                        grid: {
                          drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                        title: {
                            display: true,
                            text: 'Price History of {{ crypto_two|tojson }} ($)'
                        }
                    }
                }
            }
        });
        </script>
    </div>


    {% endblock %}

    </body>
</html>