<!DOCTYPE html>
<html lang="en">
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Results</title>
    {% endif %}
    <!--Chart.js JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
    {% extends "layout.html" %}
    {% block content %}

    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>Results</h1>
    {% endif %}

    <div class="row">
        <div class="longbox">
        <h2>{{crypto_one}}</h2>
        <p>Initial Capital: {{values1['initial']}}</p>
        <p>Total net P/L: {{values1['total_pl']}}</p>
        <p>CAGR: {{values1['cagr']}}</p>
        <p>Start Date: {{ start_date }}</p>
        <p>End Date: {{ end_date }}</p>
        <p>Total Transactions: {{values1['trades']}}</p>
        <p>Final Equity: {{values1['final']}}</p>
        <p>Total ROI: {{values1['roi']}}</p>
        </div>
        <div class="longbox">
        <h2>{{crypto_two}}</h2>
        <p>Initial Capital: {{values2['initial']}}</p>
        <p>Total net P/L: {{values2['total_pl']}}</p>
        <p>CAGR: {{values2['cagr']}}</p>
        <p>Start Date: {{ start_date }}</p>
        <p>End Date: {{ end_date }}</p>
        <p>Total Transactions: {{values2['trades']}}</p>
        <p>Final Equity: {{values2['final']}}</p>
        <p>Total ROI: {{values2['roi']}}</p>
        </div>


        <canvas id="myChart1" ></canvas>

        <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'line',
            data: {
            labels: {{ labels|tojson }},
            datasets: [
                {
                data: {{ equity1|tojson }},
                label: {{ crypto_one|tojson }} + ' Equity',
                borderColor: "#3e95cd",
                fill: false,
                }]
            },
            options: {
                legend: { display: true },
                title: {
                display: true,
                text: 'Price History of {{ crypto_one|tojson }}'
                }}
        });
        </script>

        <canvas id="myChart2" ></canvas>

        <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx, {
            type: 'line',
            data: {
            labels: {{ labels|tojson }},
            datasets: [
                {
                data: {{ equity2|tojson }},
                label: {{ crypto_two|tojson }} + ' Equity',
                borderColor: "#e8c3b9",
                fill: false,
                }]
            },
            options: {
                legend: { display: true },
                title: {
                display: true,
                text: 'Price History of {{ crypto_two|tojson }}'
                }}
        });
        </script>

    </div>



    {% endblock %}

    </body>
</html>