<!DOCTYPE html>
<html lang="en">
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Results</title>
    {% endif %}
    <!--Chart.js JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        {% extends "layout.html" %}
        {% block content %}

        {% if title %}
        <h1>{{ title }}</h1>
        {% else %}
        <h1>Results</h1>
        {% endif %}

        <div class="grid">
            <div class="longbox">
            <h2>{{crypto_one}} and {{crypto_two}} Pairs Backtest</h2>
            <p>Initial Capital: {{values['initial']}}</p>
            <p>Total net P/L: {{values['total_pl']}}</p>
            <p>CAGR: {{values['cagr']}}</p>
            <p>Start Date: {{ start_date }}</p>
            <p>End Date: {{ end_date }}</p>
            <p>Total Transactions: {{values['trades']}}</p>
            <p>Final Equity: {{values['final']}}</p>
            <p>Total ROI: {{values['roi']}}</p>
            </div>

            <div class="chart-container">
                <canvas id="backtestPriceHistoryChart" ></canvas>

                <script>
                var ctx = document.getElementById('backtestPriceHistoryChart').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ labels|tojson }},
                        datasets: [{
                            data: {{ values1|tojson }},
                            label: {{ crypto_one|tojson }},
                            yAxisId: 'A',
                            borderColor: "#3e95cd",
                            fill: false,
                        }, {
                            label: {{ crypto_two|tojson }},
                            yAxisID: 'B',
                            data: {{ values2|tojson }},
                            borderColor: "#e8c3b9",
                            fill: false,
                        }]
                    },
                    options: {
                        legend: { display: true },
                        responsive:true,
                        maintainAspectRatio: false,
                        interaction: {
                          mode: 'index',
                          intersect: false
                        },
                        plugins: {
                          title: {
                            display: true,
                            text: 'Price History of {{ crypto_one|tojson }} and {{ crypto_two|tojson }}',
                          }
                        },
                        scales: {
                            A: {
                                type: 'linear',
                                position: 'left',
                                title: {
                                    display: true,
                                    text: 'Price History of {{ crypto_one|tojson }} ($)'
                                }
                            },
                            B: {
                                type: 'linear',
                                position: 'right',
                                ticks: {
                                    max: 1,
                                    min: 0
                                },
                                grid: {
                                  drawOnChartArea: false, // only want the grid lines for one axis to show up
                                },
                                title: {
                                    display: true,
                                    text: 'Price History of {{ crypto_two|tojson }} ($)'
                                }
                            }
                        }
                    }
                });
                </script>
            </div>

        </div>

        <br>

        <canvas id="myChart1" ></canvas>

        <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'line',
            data: {
            labels: {{ labels|tojson }},
            datasets: [
                {
                data: {{ equity|tojson }},
                label: 'Equity',
                borderColor: "#3e95cd",
                fill: false,
                }]
            },
            options: {
                legend: { display: true },
                plugins: {
                  title: {
                    display: true,
                    text: 'Equity Chart',
                  }
                },
                interaction: {
                  mode: 'index',
                  intersect: false
                },
                title: {
                display: true,
                },
                scales: {
                    y: {
                        type: 'linear',
                        grace: '20%'
                    }
                }
                }
        });
</script>

        <br>

        <div class="row">

            <h2>Trade Log</h2>
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>

    {% endblock %}

    </body>
</html>