<!DOCTYPE html>
<html lang="en">
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Results</title>
    {% endif %}
    <!--Chart.js JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        {% extends "layout.html" %}
        {% block content %}

        {% if title %}
        <h1>{{ title }}</h1>
        {% else %}
        <h1>Results</h1>
        {% endif %}

        <form action="{{ url_for('handle_backtest_data') }}" method="POST"> <!--  action="{{ url_for('handle_backtest_data') }}"  -->
            {{ form.csrf_token }}

            <div class="navigation-container">
                <!--
                Moving average period
                standard deviation period
                Maximum trading duration
                Entry threshold
                Exit threshold
                Stop/Loss threshold
                -->
                <div class="custom-grid">
                    <p>
                        {{ form.coin1 }}
                    </p>

                    <p>
                        {{ form.coin2 }}
                    </p>

                    <p>
                        {{ form.function }}
                    </p>
                </div>

                <div class="custom-grid-3">
                    <p>
                        {{ form.ma_period.label }}
                        {{ form.ma_period }}
                    </p>

                    <p>
                        {{ form.std_period.label }}
                        {{ form.std_period }}
                    </p>

                    <p>
                        {{ form.max_duration.label }}
                        {{ form.max_duration }}
                    </p>

                </div>

                <div class="custom-grid-4">
                    <p>
                        {{ form.entry_threshold.label }}
                        {{ form.entry_threshold }}
                        <span id="entry_out"></span>
                    </p>


                    <p>
                        {{ form.exit_threshold.label }}
                        {{ form.exit_threshold }}
                        <span id="exit_out"></span>
                    </p>

                    <p>
                        {{ form.sl_threshold.label }}
                        {{ form.sl_threshold }}
                        <span id="sl_out"></span>
                    </p>


                    <script>
                        var slider = document.getElementById("entry_threshold");
                        var output = document.getElementById("entry_out");
                        output.innerHTML = slider.value;

                        slider.oninput = function() {
                        output.innerHTML = Math.round(this.value * 10) / 10;
                        }

                        var slider2 = document.getElementById("exit_threshold");
                        var output2 = document.getElementById("exit_out");
                        output2.innerHTML = slider2.value;

                        slider2.oninput = function() {
                        output2.innerHTML = Math.round(this.value * 10) / 10;
                        }

                        var slider3 = document.getElementById("sl_threshold");
                        var output3 = document.getElementById("sl_out");
                        output3.innerHTML = slider3.value;

                        slider3.oninput = function() {
                        output3.innerHTML = Math.round(this.value * 10) / 10;
                        }
                    </script>

                </div>

                <div class="custom-grid-2">
                    <!--<label for="start_date">Start Period:</label>
                    <input type="date" id="start_date" name="start_date"
                       value="2020-06-06"
                       min="2018-01-01" max="{{now}}">

                    <label for="end_date">End Period:</label>
                    <input type="date" id="end_date" name="end_date"
                        value="{{now}}"
                        min="2018-01-02" max="{{now}}">-->

                    <p>
                        {{ form.date1.label }}
                        {{ form.date1 }}
                    </p>

                    <p>
                        {{ form.date2.label }}
                        {{ form.date2 }}
                    </p>

                    <button onclick="return Validate();">Submit</button>
                    <script>
                        function Validate() {
                            var date1 = document.getElementById("date1").value;
                            var date2 = document.getElementById("date2").value;
                            var entry_threshold = document.getElementById("entry_threshold").value;
                            var exit_threshold = document.getElementById("exit_threshold").value;
                            var message = "";
                            var error = false;
                            if (date1 > date2) {
                                message += "Start date must be earlier than end date. "
                                error = true;
                            }
                            if (exit_threshold > entry_threshold) {
                                message += "Entry threshold must be greater than exit threshold."
                                error = true;
                            }
                            if (error) {
                                alert(message);
                                return false;
                            }
                            return true;
                        }
                    </script>
                </div>

            </div>
        </form>

        <div class="grid">
            <div class="longbox">
                <h2>{{crypto_one}} and {{crypto_two}} Pairs Backtest</h2>
                <p>Initial Capital: {{values['initial']}}</p>
                <p>Total net P/L: {{values['total_pl']}}</p>
                <p>CAGR: {{values['cagr']}}</p>
                <p>Start Date: {{ start_date }}</p>
                <p>End Date: {{ end_date }}</p>
                <p>Total Transactions: {{values['trades']}}</p>
                <p>Final Equity: {{values['final']}}</p>
                <p>Total ROI: {{values['roi']}}</p>
            </div>

            <div class="chart-container">
                <canvas id="backtestPriceHistoryChart" ></canvas>

                <script>
                var ctx = document.getElementById('backtestPriceHistoryChart').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ labels|tojson }},
                        datasets: [{
                            data: {{ values1|tojson }},
                            label: {{ crypto_one|tojson }},
                            yAxisId: 'A',
                            borderColor: "#3e95cd",
                            fill: false,
                        }, {
                            label: {{ crypto_two|tojson }},
                            yAxisID: 'B',
                            data: {{ values2|tojson }},
                            borderColor: "#e8c3b9",
                            fill: false,
                        }]
                    },
                    options: {
                        legend: { display: true },
                        responsive:true,
                        maintainAspectRatio: false,
                        interaction: {
                          mode: 'index',
                          intersect: false
                        },
                        plugins: {
                          title: {
                            display: true,
                            text: 'Price History of {{ crypto_one|tojson }} and {{ crypto_two|tojson }}',
                          }
                        },
                        scales: {
                            A: {
                                type: 'linear',
                                position: 'left',
                                title: {
                                    display: true,
                                    text: 'Price History of {{ crypto_one|tojson }} ($)'
                                }
                            },
                            B: {
                                type: 'linear',
                                position: 'right',
                                ticks: {
                                    max: 1,
                                    min: 0
                                },
                                grid: {
                                  drawOnChartArea: false, // only want the grid lines for one axis to show up
                                },
                                title: {
                                    display: true,
                                    text: 'Price History of {{ crypto_two|tojson }} ($)'
                                }
                            }
                        }
                    }
                });
                </script>
            </div>

        </div>

        <br>

        <canvas id="myChart1" ></canvas>

        <script>
            var ctx = document.getElementById('myChart1').getContext('2d');
            var myChart1 = new Chart(ctx, {
                type: 'line',
                data: {
                labels: {{ labels|tojson }},
                datasets: [
                    {
                    data: {{ equity|tojson }},
                    label: 'Equity',
                    borderColor: "#3e95cd",
                    fill: false,
                    }]
                },
                options: {
                    legend: { display: true },
                    plugins: {
                      title: {
                        display: true,
                        text: 'Equity Chart',
                      }
                    },
                    interaction: {
                      mode: 'index',
                      intersect: false
                    },
                    title: {
                    display: true,
                    },
                    scales: {
                        y: {
                            type: 'linear',
                            grace: '20%'
                        }
                    }
                    }
            });
        </script>

        <br>

        <div class="row">
            <table id="data" class="bt_table">
                <thead>
                    <tr>
                        <!-- Name, Operation, Entry Time, Exit Time, Size, Entry Price, Exit Price, PnL, Z-Score -->
                        <th>Trades</th>
                        <th>Name</th>
                        <th>Operation</th>
                        <th>Date</th>
                        <th>Size</th>
                        <th>Entry Price</th>
                        <th>Exit Price</th>
                        <th>PnL</th>
                        <th>Z-Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in df_rows.iterrows() %}
                        <tr>
                            <td>{{ row['Index'] }}</td>
                            <td>{{ row['Name'] }}</td>
                            <td>{{ row['Operation'] }}</td>
                            <td>{{ row['Date'] }}</td>
                            <td>{{ row['Size'] }}</td>
                            <td>{{ row['Entry Price'] }}</td>
                            <td>{{ row['Exit Price'] }}</td>
                            <td>{{ row['PnL'] }}</td>
                            <td>{{ row['Z-Score'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    {% endblock %}

    </body>
</html>