<!DOCTYPE html>
<html lang="en">
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Results</title>
    {% endif %}
    <!--Chart.js JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
    {% extends "layout.html" %}
    {% block content %}

    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>Results</h1>
    {% endif %}

    <form method="POST">
        <select id="crypto_name" name="crypto_name" required>
            <option value="" disabled selected>Select currency 1</option>
            <option value="Bitcoin">Bitcoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="Litecoin">Litecoin</option>
            <option value="Bitcoin Cash">Bitcoin Cash</option>
            <option value="Ripple">Ripple</option>
        </select>

        <select id="crypto_name_2" name="crypto_name_2" required>
            <option value="" disabled selected>Select currency 2</option>
            <option value="Bitcoin">Bitcoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="Litecoin">Litecoin</option>
            <option value="Bitcoin Cash">Bitcoin Cash</option>
            <option value="Ripple">Ripple</option>
        </select>
    </form>
    <form>
        <label>Start Period:</label>
            <input type="date" id="startdate" name="startdate"
               value="2020-06-06"
               min="2018-01-01" max="{{now}}">

        <label>End Period:</label>
            <input type="date" id="enddate" name="enddate"
               value="2022-04-07"
               min="2018-01-02" max="{{now}}">
    </form>
    <button onclick="visitPage();">Submit</button>
    <script>
    function visitPage(){
        let sdate = startdate;
        let edate = enddate;
        let crypto1 = crypto_name;
        let crypto2 = crypto_name_2;
        window.location='http://127.0.0.1:5000/graph?crypto_one=' + crypto1.value +'&crypto_two=' + crypto2.value + '&start_date=' + sdate.value + '&end_date=' + edate.value;

    }
    </script>

    <canvas id="myChart1" ></canvas>

    <script>
    var ctx = document.getElementById('myChart1').getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'line',
        data: {
        labels: {{ labels|tojson }},
        datasets: [
            {
            data: {{ values1|tojson }},
            label: {{ crypto_one|tojson }},
            borderColor: "#3e95cd",
            fill: false,
            }]
        },
        options: {
            legend: { display: true },
            interaction: {
              mode: 'index',
              intersect: false
            },
            title: {
            display: true,
            text: 'Price History of {{ crypto_one|tojson }}'
            }}
    });
    </script>

    <canvas id="myChart2" ></canvas>

    <script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'line',
        data: {
        labels: {{ labels|tojson }},
        datasets: [
            {
            data: {{ values2|tojson }},
            label: {{ crypto_two|tojson }},
            borderColor: "#e8c3b9",
            fill: false,
            }]
        },
        options: {
            legend: { display: true },
            interaction: {
              mode: 'index',
              intersect: false
            },
            title: {
            display: true,
            text: 'Price History of {{ crypto_two|tojson }}'
            }}
    });
    </script>

    <canvas id="myChart3" ></canvas>

    <script>
    var ctx = document.getElementById('myChart3').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels|tojson }},
            datasets: [{
                data: {{ values1|tojson }},
                label: {{ crypto_one|tojson }},
                yAxisId: 'A',
                borderColor: "#3e95cd",
                fill: false,
            }, {
                label: {{ crypto_two|tojson }},
                yAxisID: 'B',
                data: {{ values2|tojson }},
                borderColor: "#e8c3b9",
                fill: false,
            }]
        },
        options: {
            legend: { display: true },
            title: {
            display: true,
            text: 'Price History of {{ crypto_one|tojson }} and {{ crypto_two|tojson }}'
            },
            interaction: {
              mode: 'index',
              intersect: false
            },
            scales: {
                A: {
                    type: 'linear',
                    position: 'left',
                    title: {
                        display: true,
                        text: 'Price History of {{ crypto_one|tojson }} ($)'
                    }
                },
                B: {
                    type: 'linear',
                    position: 'right',
                    ticks: {
                        max: 1,
                        min: 0
                    },
                    grid: {
                      drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                    title: {
                        display: true,
                        text: 'Price History of {{ crypto_two|tojson }} ($)'
                    }
                }
            }
        }
    });
    </script>


    {% endblock %}

    </body>
</html>