<!DOCTYPE html>
<html lang="en">
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Results</title>
    {% endif %}
    <!--Chart.js JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
    {% extends "layout.html" %}
    {% block content %}

    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>Results</h1>
    {% endif %}

    <form action="{{ url_for('handle_data') }}" method="POST">
        <div class="navigation-container">
            <div class="custom-grid-2">
                <label for="start_date">Start Period:</label>
                <input type="date" id="start_date" name="start_date"
                   value="2020-06-06"
                   min="2018-01-01" max="{{now}}">

                <label for="end_date">End Period:</label>
                <input type="date" id="end_date" name="end_date"
                    value="{{now}}"
                    min="2018-01-02" max="{{now}}">

                <button>Submit</button>
            </div>

            <div class="custom-grid">
                <select id="crypto_one" name="crypto_one" required>
                    <option value="" disabled selected>Select currency 1</option>
                    <option value="Bitcoin">Bitcoin</option>
                    <option value="Ethereum">Ethereum</option>
                    <option value="Litecoin">Litecoin</option>
                    <option value="Bitcoin Cash">Bitcoin Cash</option>
                    <option value="Ripple">Ripple</option>
                </select>

                <select id="crypto_two" name="crypto_two" required>
                    <option value="" disabled selected>Select currency 2</option>
                    <option value="Bitcoin">Bitcoin</option>
                    <option value="Ethereum">Ethereum</option>
                    <option value="Litecoin">Litecoin</option>
                    <option value="Bitcoin Cash">Bitcoin Cash</option>
                    <option value="Ripple">Ripple</option>
                </select>

                <select id="function" name="function" required>
                    <option value="" disabled selected>Select function</option>
                    <option value="Analyze">Analyze</option>
                    <option value="Backtest">Backtest</option>
                    <option value="Graph">Graph</option>
                </select>
            </div>
        </div>
    </form>

    <canvas id="myChart1" ></canvas>

    <script>
    var ctx = document.getElementById('myChart1').getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'line',
        data: {
        labels: {{ labels|tojson }},
        datasets: [
            {
            data: {{ values1|tojson }},
            label: {{ crypto_one|tojson }},
            borderColor: "#3e95cd",
            fill: false,
            }]
        },
        options: {
            legend: { display: true },
            interaction: {
              mode: 'index',
              intersect: false
            },
            title: {
            display: true,
            text: 'Price History of {{ crypto_one|tojson }}'
            }}
    });
    </script>

    <canvas id="myChart2" ></canvas>

    <script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'line',
        data: {
        labels: {{ labels|tojson }},
        datasets: [
            {
            data: {{ values2|tojson }},
            label: {{ crypto_two|tojson }},
            borderColor: "#e8c3b9",
            fill: false,
            }]
        },
        options: {
            legend: { display: true },
            interaction: {
              mode: 'index',
              intersect: false
            },
            title: {
            display: true,
            text: 'Price History of {{ crypto_two|tojson }}'
            }}
    });
    </script>

    <canvas id="myChart3" ></canvas>

    <script>
    var ctx = document.getElementById('myChart3').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels|tojson }},
            datasets: [{
                data: {{ values1|tojson }},
                label: {{ crypto_one|tojson }},
                yAxisId: 'A',
                borderColor: "#3e95cd",
                fill: false,
            }, {
                label: {{ crypto_two|tojson }},
                yAxisID: 'B',
                data: {{ values2|tojson }},
                borderColor: "#e8c3b9",
                fill: false,
            }]
        },
        options: {
            legend: { display: true },
            title: {
            display: true,
            text: 'Price History of {{ crypto_one|tojson }} and {{ crypto_two|tojson }}'
            },
            interaction: {
              mode: 'index',
              intersect: false
            },
            scales: {
                A: {
                    type: 'linear',
                    position: 'left',
                    title: {
                        display: true,
                        text: 'Price History of {{ crypto_one|tojson }} ($)'
                    }
                },
                B: {
                    type: 'linear',
                    position: 'right',
                    ticks: {
                        max: 1,
                        min: 0
                    },
                    grid: {
                      drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                    title: {
                        display: true,
                        text: 'Price History of {{ crypto_two|tojson }} ($)'
                    }
                }
            }
        }
    });
    </script>


    {% endblock %}

    </body>
</html>