<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pairs Trading Program</title>

</head>

<body>
{% extends "layout.html" %}
{% block content %}

    <h1>Pairs Trading Program</h1>

    <div class="home">
        <form method="POST">

        <select id="crypto_name" name="crypto_name" required>
            <option value="" disabled selected>Select currency 1</option>
            <option value="Bitcoin">Bitcoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="Litecoin">Litecoin</option>
            <option value="Bitcoin Cash">Bitcoin Cash</option>
            <option value="Ripple">Ripple</option>
        </select>

        <select id="crypto_name_2" name="crypto_name_2" required>
            <option value="" disabled selected>Select currency 2</option>
            <option value="Bitcoin">Bitcoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="Litecoin">Litecoin</option>
            <option value="Bitcoin Cash">Bitcoin Cash</option>
            <option value="Ripple">Ripple</option>
        </select>

        <select id="function" name="function" required>
            <option value="" disabled selected>Select a function</option>
            <option value="Backtest">Backtest</option>
            <option value="Analyze">Analyze</option>
            <option value="Graph">Graph</option>
        </select>

        <h4></h4>
        <label>Start Period:</label>
            <input type="date" id="startdate" name="startdate"
               value="2020-06-06"
               min="2018-01-01" max="{{now}}">

            <!-- change min and max to automatically update -->

        <label>End Period:</label>
            <input type="date" id="enddate" name="enddate"
               value="{{now}}"
               min="2018-01-02" max="{{now}}">
            <!-- <input type="date" id="enddate" name="enddate"
               value="{{now}}"
               min="2016-01-01" max="{{now}}"> -->


        <button>Submit</button>

        </form>
    </div>
{% endblock %}
</body>
</html>
