<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pairs Trading Program</title>

</head>

<body>
{% extends "layout.html" %}
{% block content %}

    <h1>Pairs Trading Program</h1>

    <div class="home">
        <form action='/' method="POST">
            {{ form.csrf_token }}
            <div class="navigation-container">

                <div class="custom-grid">
                    <!--<select id="crypto_one" name="crypto_one" required>
                        <option value="" disabled selected>Select currency 1</option>
                        <option value="Bitcoin">Bitcoin</option>
                        <option value="Ethereum">Ethereum</option>
                        <option value="Litecoin">Litecoin</option>
                        <option value="Bitcoin Cash">Bitcoin Cash</option>
                        <option value="Ripple">Ripple</option>
                    </select>

                    <select id="crypto_two" name="crypto_two" required>
                        <option value="" disabled selected>Select currency 2</option>
                        <option value="Bitcoin">Bitcoin</option>
                        <option value="Ethereum">Ethereum</option>
                        <option value="Litecoin">Litecoin</option>
                        <option value="Bitcoin Cash">Bitcoin Cash</option>
                        <option value="Ripple">Ripple</option>
                    </select>

                    <select id="function" name="function" required>
                        <option value="" disabled selected>Select function</option>
                        <option value="Analyze">Analyze</option>
                        <option value="Backtest">Backtest</option>
                        <option value="Graph">Graph</option>
                    </select>-->
                    <p>
                        {{ form.coin1 }}
                    </p>

                    <p>
                        {{ form.coin2 }}
                    </p>

                    <p>
                        {{ form.function }}
                    </p>
                </div>

                <div class="custom-grid-2">
                    <!--
                    <label for="start_date">Start Period:</label>
                    <input type="date" id="start_date" name="start_date"
                       value="2020-06-06"
                       min="2018-01-01" max="{{now}}">

                    <label for="end_date">End Period:</label>
                    <input type="date" id="end_date" name="end_date"
                        value="{{now}}"
                        min="2018-01-02" max="{{now}}">
                    -->
                    <p>
                        {{ form.date1.label }}
                        {{ form.date1 }}
                    </p>

                    <p>
                        {{ form.date2.label }}
                        {{ form.date2 }}
                    </p>

                    <button>Submit</button>

                </div>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>
