<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pairs Trading Program</title>
</head>

<body>
{% extends "layout.html" %}
{% block content %}

    <h1>Pairs Trading Program</h1>

    <div class="home">
        <p>Upload a .csv file here.</p>
        <form action="/uploader" method="POST" enctype = "multipart/form-data">
            <input type="file" id="crypto_csv_file" name="crypto_csv_file" accept=".csv">
            <label for="new_crypto_name">Currency:</label>
            <input type="text" id="new_crypto_name" name="new_crypto_name">
            <input type="submit">
        </form>
    </div>
{% endblock %}
</body>
</html>
