<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pairs Trading Program</title>
</head>

<body>
{% extends "layout.html" %}
{% block content %}

    <h1>Pairs Trading Program</h1>

    <div class="home">
        <p>Upload a .csv file here.</p>
        <form method="UPLOAD">
            <input accept=".csv" type="file" id="crypto_csv_file"> <br></br>
            <label for="cryptoname">Currency:</label>
            <input type="text" id="new_crypto_name" name="new_crypto_name">
            <input type="submit">
        </form>
    </div>
{% endblock %}
</body>
</html>
